.text-center {
    background: rgb(27, 26, 26);
    margin-top: 2vw;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .bs-body-orange {
    background: orange;
    width: 40vw;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .form-floating {
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
  }

  .text-justify {
    font-size: calc(0.2rem + 1vw);
  }


  .text-center {
    margin-left: auto;
    margin-right: auto;
  }

  button {
    width: 10vw;
  }


  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  }