/* ----------------------- DIVISION HOME -----------------------*/

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(27, 26, 26);
    border-bottom: 1px solid grey;
    width: 100%;
}

.HomeButtons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/* ----------------------- TEXTE HOME -----------------------*/

.accueil {
    display: flex;
    justify-content: space-around;
    position: relative;
    color: white;
    font-size: 2.5vw;
    margin: 16px;
}

/* ----------------------- FOR YOU -----------------------*/

.page {
    display: flex;
    position: relative;
    border-bottom: 6px solid rgb(220, 115, 10);
    color: white;
    /* font-size: 1.8vw; */
    font-size: calc(0.6rem + 1vw);
    margin: 0;
}

/* ----------------------- FOLLOWING -----------------------*/

.autre {
    display: flex;
    position: relative;
    color: white;
    /* font-size: 1.8vw; */
    font-size: calc(0.6rem + 1vw);
    margin: 0;
    /* border-bottom: 6px solid rgb(220, 115, 10); */
} 